/* Variables */

:root {
  --black: #000000;
  --bluish-black: #444444;
  --basic-gray: #888888;
  --anthracite-gray: #283136;
  --pale-gray-standby: #eeeeee;
  --gray-touch: #dfdfdf;
  --gray-press: #d5d5d5;
  --gray-card: #4d4d4d;
  --gray: #666666;
  --medium-dark-gray: #666666;
  --red-standby: #fb565a;
  --red-touch: #e74246;
  --red-press: #d7373b;
  --white: #ffffff;
  --green-standby: #00ca74;
  --green-touch: #00bc6c;
  --green-press: #00aa62;
  --yellow-standby: #efc849;
  --yellow-touch: #fab534;
  --yellow-press: #e5a722;
  --pale-blue: #D7DCDE;
  --special: #000000;

}
/* Global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--anthracite-gray);
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%; /*без этой части пропадает кусок серого фона сверху,*/
  display: grid;     /* но больше ничего не меняется, я не знаю зачем она нужна*/
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}
a {
  text-decoration: none;
}
.inner-page {
  min-width: 960px;
  margin: 0;
  padding: 0;
  color: var(--anthracite-gray);
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
}

.main-header {
  background-color: var(--pale-gray-standby);
}


/* Main navigation */
.main-navigation,
.user-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
}

.main-navigation { /*колонка для лого, колонка для нав меню*/
  display: grid;
  grid-template-columns: min-content 1fr;
  background-color: var(--pale-gray-standby);
}

.main-navigation-wrapper { /*нав меню делим на колонки меню и корзины*/
  width: 1158px;
  display: grid;
  grid-template-columns: 1fr min-content;
  margin: 45px auto 0px;
}
.site-navigation {
  list-style: none;
  margin: 26px auto 0; /*меню навигация по центру*/
  display: flex;    /*делаем слова меню в строку*/
  flex-wrap: wrap;
}
.site-navigation li {
  padding-right: 45px; /*размер с макета*/
}

/* User navigation */
.user-navigation {
  margin-top: 26px;
}
.site-navigation a,
.user-navigation a {
  color: var(--black);
  color: var(--basic-white);
  display: block; /*пункты меню сами встали как надо*/
}
.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--red-standby);
}
.site-navigation a:active,
.user-navigation a:active {
  color: var(--black);
}
.inner-page h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  align-items: center;
}
.inner-header-wrapper {/*делаем фон под Магазин шаблонов*/
  background-color: var(--pale-gray-standby);
  width: 100%;
}
.inner-header-wrapper p {/*задаем заменителю заголовка параметры заголовка*/
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
  padding-top: 87px;
  padding-bottom: 108px;
  color: black;
}
.login-link::before {/*вставка значка корзины*/
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: ;
  background-color: red;
}
.user-navigation .login-link {
  padding-left: 50px;
  position: relative;
}


/* Button */
.button a {
  color: var(--white);
  padding: 0;
}
.button {
  font: inherit;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--red-standby);
  padding: 0;
  border: none;
  border-radius: 3px;
}
.button:hover {
  background-color: var(--red-touch);
  }
.button:focus {
  background-color: var(--red-press);
}
.button:active {
  background-color: var(--red-press);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--red-standby);
}
.nobutton {
  padding: 0;
  border: none;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  background-color: transparent;
  opacity: 0.3;
}
.nobutton:hover {
  opacity: 0.6;
  }
.nobutton:focus {
  opacity: 0.6;
  border: none;
}
.nobutton:active {
  opacity: 1;
  border: none;
}


/*filter*/
.filter {
  width: 260px;
  margin-left: 0;
  margin-right: 0;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.filter-aside{
  margin-bottom: 54px;
}
.filter-radio {
  margin-bottom: 43px;
}
.filter-checkbox {
  margin-bottom: 48px;
}
.filter-legend { /*СТОИМОСТЬ*/
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 48px;/*почему-то отступ задался и для сортировки*/
}
.filter-item {
  margin-bottom: 20px;
  margin-left: 0;
}
.filter-radio-list,
.filter-checkbox-list,
.filter-top-list,
.catalog-list {
  list-style: none;
}
.filter-radio-list {
  margin-left: 0;
}
.filter-price input,
.filter-price input:hover,
.filter-price input:focus,
.filter-price input:active {
  background-color: var(--pale-gray-standby);
  border-radius: 3px;
  border-color: var(--pale-gray-standby);
}
.filter-price-label {
  line-height: 22px;
}
.filter-label {
  line-height: 20px;
}
.button-filter {
  text-align: center;
  border-radius: 3px;
  margin: auto;
  font-weight: 500;
  line-height: 18px;
  color: var(--black);
  background-color: var(--pale-gray-standby);
}
.button-filter:hover {
  background-color: var(--gray-touch);
  }
.button-filter:focus {
  background-color: var(--gray-press);
}
.button-filter:active {
  background-color: var(--gray-press);
}
.filter-top-item a {
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
}

.page-filter { /*СОРТИРОВАТЬ: ПО ЦЕНЕ ПО ВОЗРАСТАНИЮ ПО УБЫВАНИЮ*/
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-top-list {/*выравниваем фильтр-слова СОРТИРОВАТЬ*/
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.filter-top-item {
  margin-right: 25px;
}
.filter-top-item:last-child {
  margin-right: 0;
}

.filter-option label {/*задаем релатив чтобы детям задать абсолют*/
  position: relative; /*оформление галочек фильтров*/
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {/*квадратики для чекбокса*/
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 3px solid var(--gray-press);
  border-radius: 5%;
}
.filter-input-checkbox:checked + label::after {/*галки внутри чекбокса*/
  content: "";
  position: absolute;
  top: 7px;
  left: -34px;
  width: 12px;
  height: 12px;
  /*background-color: green;*/
  background-image: url("img/Shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio + label::before {/*кружочки для радиофильтра*/
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 17px;
  height: 17px;
  border: 5px solid var(--gray-press);
  border-radius: 50%;
}
.filter-input-radio:checked + label::after {/*кружочек в кружочке*/
  content: "";
  position: absolute;
  top: 8px;
  left: -33px;
  width: 9px;
  height: 9px;
  background-color: var(--gray-press);
  border-radius: 50%;
}

/*catalog*/
.container-catalog { /*задаем центровщика на всю страницу между хедером и футером*/
  width: 1160px;
  margin: auto;
}
.page-catalog { /*делим страницу каталога на фильтр и карточки*/
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 140px;
}
.catalog-list { /*список карточек*/
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.catalog-item { /*пункт списка карточек*/
  background-color: var(--pale-gray-standby);
  width: 360px;
  min-height: 618px;
  margin-right: 40px;
  margin-bottom: 30px;
}
.catalog-item img {
  height: 578px;
  width: 360px;
}

.catalog-item:nth-child(2n) { /*чтобы не съезжали карточки*/
  margin-right: 0;
}
.catalog-button {
  border-radius: 3px;
}
.catalog-item:hover { /*оформление карточек*/
  background-color: var(--gray);
  }
.catalog-item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: var(--black);
  background-color: var(--pale-gray-standby);
}
.catalog-item img {
  background-color: var(--pale-gray-standby);
}
.card-bottom {
  width: 360px;
  height: 231px;
  background-color: var(--pale-gray-standby);
}

.card-description {
  line-height: 18px;
  align-items: center;
  color: var(--gray);
}



/*Pagination*/
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
}
.pagination-item-current,
.pagination-item {
  display:block;
  border-radius: 3px;
  margin-right: 11px;
}

.pagination-item-current a {
  padding: 14px 17px 12px 17px;
}

.pagination-item a {
  padding: 17px 20px 15px 20px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--pale-gray-standby);
}
.pagination-item-current a:hover,
.pagination-item a:hover {
  background-color: var(--gray-touch);
}
.pagination-item-current a:focus,
.pagination-item a:focus {
  background-color: var(--gray-press);
}
.pagination-item-current a:active,
.pagination-item a:active {
  background-color: rgba(0, 0, 0, 0.0001);
}
.pagination-item-current a {
  background-color: var(--white);
  border: 3px solid #DBDBDB;
  border-radius: 3px;
}
.pagination-item:last-child a {
  padding: 17px 77px 15px 77px;
}
.pagination-item:last-child {
  margin-right: 0;
}

/* Features */ /*долго дорого скрупулезно*/
.feature-wrapper-img { /*делим на текст и картинку*/
  margin: auto;
  width: 1160px;
  display: flex;
  justify-content: space-between;
}
.feature {
  display: grid;
  background-color: var(--pale-gray-standby);
  margin: 0;
  padding: 0;
}
.feature-motto {
  font-weight: 500;
  font-size: 55px;
  color: var(--black);
  line-height: 55px;
  margin-bottom: 25px;
}
.feature-wrapper { /*центрируем преимущества (долго, дорого, скрупулезно) и делим по рядам текст и кнопку*/
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  margin: 0 left;
}
.feature-dascription {
  margin-bottom: 38px;
}
.feature-button  {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 17px 54px 15px;
  margin-bottom: 80px;
  background-color: var(--red-standby);
}

.feature-wrapper-img img {
  background-color: var(--pale-gray-standby);
  size: 100%;
}


/* service *//*сайты, презентации, приложения*/
.service {
  background-color: var(--white); /*3 колонки мир не будет прежним*/
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 80px auto;
}
.service p {
  margin-bottom: 32px;
}
.service h3 {
  font-weight: bold;
  font-size: 24px;
  color: var(--black);
  line-height: 30px;
}
/*service-button*/
.service-button {
  padding: 17px 40px 15px;
}
.button-app {
  background-color: var(--green-standby);
  padding: 17px 40px 15px;
}
.button-app:hover {
  background-color: var(--green-touch);
  }
.button-app:focus {
  background-color: var(--green-press);
}
.button-app:active {
  background-color: var(--green-press);
}
.button-presentation {
  background-color: var(--yellow-standby);
  padding: 17px 40px 15px;
}
.button-presentation:hover {
  background-color: var(--yellow-touch);
  }
.button-presentation:focus {
  background-color: var(--yellow-press);
}
.button-presentation:active {
  background-color: var(--yellow-press);
}


/* about */

.about-us { /*мы-маленькая, но гордая студия из краснодара*/
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--black);
  margin-top: 73px;
  margin-bottom: 32px;
}
.about-service {
  margin: 0;
}
.about h3 { /*Выполняем заказы на разработку*/
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;

}
.about-service-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.about-service-list-item {
  position: relative;
  display: block;
  margin: 0;
  padding-left: 37px;
  margin-top: 23px;
}
.about-service-list-item::before {  /*красные прямоугольники у заказов на разработку*/
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 25px;
  height: 2px;
  background-color: var(--red-standby);
}

/*index-columns*/ /*содержит О нас и достижения*/
.about {
  width: 660px;
}
.index-columns {
  width: 1158px;
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.index-columns::before { /*декоративная разделительная черта между 1 и 2 блоками*/
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--pale-gray-standby);
}
/*.index-columns::after { /*декоративная разделительная черта между 1 и 2 блоками
  content: "";
  position: absolute;
  top: px;
  width: 1158px;
  height: 2px;
  background-color: var(--red-standby);
}*/

/* achievements */
.achievements img{
  margin-top: 41px;
}
.achievements-motto {
  margin-top: 37px;
  font-weight: bold;
  text-align: center; /*c 2004 любим точность*/
  color: var(--black);
  text-transform: uppercase;
}
.achievements-number { /*только 146, 100, 50*/
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--black);
}
.achievements-percent { /*только %*/
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--black);
}
.achievements-description { /*уровень самоотдачи и т.п.*/
  line-height: 18px;
}
.achievements-list { /*уровень самоотдачи 146% и тд.д.*/
  margin-top: 31px;
  list-style: none;
  width: 360px;
  display: flex;
  justify-content: space-between;
}
.achievements-list li {
  text-align: left;
}

/* Contacts */
.contacts h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  align-items: center;
  text-transform: uppercase;
}
.contacts-address,
.contacts-phone {
  line-height: 18px;
  align-items: center;
  color: var(--gray);
}
.map {
  text-align: center;
  background-color: var(--pale-gray-standby);
  margin: 0 auto;
  padding: 0;
}

/* partnership */
.partnership {
  width: 1158px;
  height: 180px;
  margin: 73px auto 80px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: var(--pale-gray-standby);
}
.partners-list {
  /*list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0 auto;
  padding: 0;*/
}
.partners-list {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 45px 5px;
}
.partners-list li::before { /*декоративная разделительная  партнерами*/
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  left: 50%;
  right: 50%;
  background-color: var(--pale-gray-standby);
}

.partners-list li:first-child::before {
  display: none;
}
.partners-list li:nth-child(2n)::before {
  left: 298px;
}
.partners-list li:nth-child(4n)::before {
  left: 894px;
}

/*.partner-item::after { /*разделительная вертикальная черта между логотипами партнеров
  content: "";
  position: relative;
  right: 50px;
  width: 2px;
  height: 52px;
  background-color: var(--pale-gray-standby);
}*/


/*modal*/
.modal {
  color: var(--black);
  align-items: center;
  background-color: var(--white);
}
.modal-description {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}
.modal-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}
.modal input {
  font-size: 16px;
  line-height: 18px;
  color: var(--bluish-black);
  border: 2px solid #D7DCDE;
}
.modal input:focus {
  border-color: var(--black);
}
.modal-button {

}


/* footer */
.footer-social {
  width: 1158px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 139px;
}
.footer-social-list {
  display: flex;
  /*display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column-gap: 9px;*/
}
.footer-social-list li {
  padding-left: 9px;
}
.social-button {
 background-color: var(--pale-gray-standby);
 }
.social-button:hover {
   background-color: var(--red-touch);
   }
.social-button:focus {
   background-color: var(--red-press);
 }
.social-button:active {
   background-color: var(--red-press);
}
.footer-social-list {
  list-style: none;
}
.footer-motto {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--black);
}
.footer-motto-description {
  line-height: 22px;
  color: var(--bluish-black);
}


/*GRID*/
.page {
  height: 100%;
}
/*visually-hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
